{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-sm-4 sidebar-offcanvas" id="sidebar"">
        <div class="list-group">
            <h3 class="list-group-item">Categories</h3>
            {% for c in categories %}
                <a href="{{ url_for('showCategory', category_name = c.name) }}" class="list-group-item">{{c.name}}</a>
            {% endfor %}
        </div>
    </div>
    <div class="col-sm-6">
        {% if 'username' in session %}
        <a href="{{ url_for('addItem') }}">Add item</a>
        {% endif %}
        <h3>Latest items</h3>
        <ul>
        {% for i in items %}
            <li><a href="{{ url_for('showItem', category_name = i.category.name, item_name = i.name) }}">{{i.name}}</a> ({{i.category.name}})</li>
        {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}