{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-sm-4 sidebar-offcanvas" id="sidebar"">
        <div class="list-group">
            <h3 class="list-group-item">Categories</h3>
            {% for c in categories %}
                <a href="{{ url_for('category.showCategory', category_name = c.name) }}" class="list-group-item {% if c.id == category.id %}active{% endif %}">{{c.name}}</a>
            {% endfor %}
        </div>
    </div>
    <div class="col-sm-6">
    <h3>{{category.name}} items ({{count}} items)</h3>
    <ul>
    {% for i in items %}
        <li><a href="{{ url_for('item.showItem', category_name = i.category.name, item_name = i.name) }}">{{i.name}}</a></li>
    {% endfor %}
    </ul>
    </div>
</div>

{% endblock %}