{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-sm-12">
    <h3>Delete {{item.name}}</h3>
        <p>Are you sure you want to delete this item?</p>
        <form action="#" method = 'post'>
            <button type="submit" class="btn btn-default delete" id="submit" type="submit">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete</button>
            <a href = '{{url_for('showCatalog')}}'>
                <button class="btn btn-default delete">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
            </a>
        </form>
    </div>
</div>

{% endblock %}